<p id="notice"><%= notice %></p>

<h1>
  <strong>Guest:</strong>
  <%= @guest.name %>
</h1>

<% @r = @guest.room %>
<% if @r.nil? %>
  <p>This guest hasn't been assigned to any room yet!</p>
<% else %>
  <p>This guest is currently living in the room: <strong><%=@guest.room.name%></strong></p>
<% end %>

<p>Information of the guest: </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @guest.id %></td>
        <td><%= @guest.name %></td>
        <td><%= @guest.email %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_guest_path(@guest), class: "btn btn-primary" %> 
<%= link_to 'Back', guests_path, class: "btn btn-primary" %>
