<h1>Editing Room</h1>

<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.label :name %>
      <%= f.text_field :name %>
    
    
      <%= f.label :guest_name %>
      <%= f.text_field :guest_id %>
    
      <%= f.submit "Update", class: "btn btn-primary btn-sm"%>
      
      <%= link_to 'Back', rooms_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>


